/*.card-link{*/
/*    text-decoration: none;*/
/*}*/

.card {
    overflow: hidden;
    display: flex;
    margin: 2em 0;
    align-items: center;
    text-decoration: none;
}

.card .image {
    position: relative;
    overflow: hidden;
    border-radius: 0.5em;
    background-color: black;
    width: 30%;
}

.card .image:before {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.card .image img {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .content {
    padding: 0 1.5em;
    width: 70%;
    font-size: 2em;
    color: black;
}

@media ( max-width: 700px) {
    .card .content {
        font-size: 1.5em;
    }
}